* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 5px;
  text-align: center;
  color: black;
  display: block;
  text-decoration: none;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
  margin-bottom: 0%;
}

.header h1:hover {
  color: #e78b35;
}

.header p {
  padding: 10px 20px;
  margin: 0%
}

.header p:hover {
  /* background-color: #e78b35; */
  color: #e78b35;
}

/* Style the top navigation bar */
.navbar {
  display: inline-flexbox;
  justify-content: center;
  overflow: hidden;
  /* background-color: #333; */
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  /* background-color: #e78b35; */
  color: #e78b35;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}